/*Allgemeine Settings*/
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    body {
        font-size: 112.5%;
        font-family: fantasy, sans-serif;
       /* min-height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto;*/
    
    /*font-size: 100%;
    font-family: sans-serif;
    min-height: 100vh;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr auto 1fr;*/

}
/* Kopf und Navigation */
header {
    background-color: powderblue;
    padding: 1rem;
    border: solid pink 1rem;
    width: 40rem;
    margin: auto;
}

h1 {
  color: slateblue;     
}
.navlink {
    text-decoration: none;
    color: mediumvioletred;
    padding-right: 2rem;
}


table {
    margin: auto;
    border: solid aliceblue 2rem;
}
td {
    padding: 0.5rem;
}

th {
    text-decoration: underline;
    color: salmon;
}

footer {
    background-color:blue;
    margin-top: auto;
}